* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    height: 30vh;
    width: 100%;
    font-size: 3vh;
    z-index: 1;
    background-color: transparent;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 8vh;
    gap: 2vw;
    margin-top: 8vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

/* Ajoute un fond noir avec opacité 0.8 et une ombre quand on descend */
nav.scrolled {
    position: fixed;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

nav.scrolled ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 2vw;
    height: 15vh;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    transition: 0.3s ease
}

nav li {
    display: flex;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: 0.3s ease
}

nav li:hover {
    border-radius: 2vw;
    background-color: rgba(255, 255, 255, 0.5);
}

nav img, nav ul {
    transition: all 0.3s ease;
}

.liens-navigation {
    display: flex;
    align-items: end;
    color: white;
    text-decoration: none;
}

.liens-navigation img {
    height: 5vh;
    width: 2.5vw;
}

.liens-navigation-1 {
    display: flex;
    color: white;
    text-decoration: none;
}

.liens-navigation-1 img {
    display: flex;
    height: 15vh;
    width: 7.5vw;
    margin-top: 8vh;
    margin-left: 3vw;
    margin-right: 3vw;
    transition: 0.3s ease
}

nav.scrolled .liens-navigation-1 img {
    display: flex;
    height: 15vh;
    width: 7.5vw;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

.liens-navigation-1.scrolled img {
    display: flex;
    height: 15vh;
    width: 7.5vw;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
}

#video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.home {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#titre-principal {
    color: white;
    font-size: 15vh;
    font-family: "Times New Roman", Times, serif;
}

.localisation {
    margin: 0;
    background-color: white;
    height: 400vh;
}